:root {
	/* ### Primary */

	--Bright-Blue: hsl(220, 98%, 61%);
	--Check-Background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);

	/* ### Light Theme */

	--Very-Light-Gray: hsl(0, 0%, 98%);
	--Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
	--Light-Grayish-Blue: hsl(233, 11%, 84%);
	--Dark-Grayish-Blue: hsl(236, 9%, 61%);
	--Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);

	/* ### Dark Theme */

	--Very-Dark-Blue: hsl(235, 21%, 11%);
	--Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
	--Light-Grayish-Blue: hsl(234, 39%, 85%);
	--Light-Grayish-Blue
	/*(hover)*/

	: hsl(236, 33%, 92%);
	--Dark-Grayish-Blue: hsl(234, 11%, 52%);
	--Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
	--Very-Dark-Grayish-Blue: hsl(237, 14%, 26%);
}

@font-face {
	font-family: Josefin-Sans-light;
	src: url(fonts/Josefin_Sans/static/JosefinSans-Light.ttf);
}

@font-face {
	font-family: Josefin-Sans-medium;
	src: url(fonts/Josefin_Sans/static/JosefinSans-Medium.ttf);
}

@font-face {
	font-family: Josefin-Sans-bold;
	src: url(fonts/Josefin_Sans/static/JosefinSans-Bold.ttf);
}

body {
	background-image: url(images/bg-desktop-light.jpg);
	background-repeat: no-repeat;
	height: 87vh;
	margin: 0px;
	padding: 0px;
}

header {
	margin: 100px auto;
	max-width: 590px;
	width: 100%;
}

.header-main-area {
	display: flex;
}

.main-title {
	color: white;
	font-family: Josefin-Sans-medium;
	font-size: 45px;
	letter-spacing: 5px;
}

.theme-area {
	display: flex;
	flex-grow: 1;
	justify-content: end;
}

.dark-theme-img {
	width: 30px;
	height: 30px;
}

.task-input-area {
	margin: 30px 40px 0px;
}

.task-input {
	padding: 20px;
	border-radius: 5px;
	border: 0px;
	max-width: 550px;
	width: 100%;
	font-family: Josefin-Sans-medium;
}

.tasks-container {
	padding: 20px;
	position: relative;
	top: -65px;
	background-color: white;
	border-radius: 5px;
	max-width: 550px;
	width: 100%;
	margin: auto;
	box-shadow: 12px 7px 20px 6px rgb(57 75 84 / 8%);
	min-height: 100px;
}

.added-task {
	transition: 2s;
}

.checkbox-input {
	width: 1.3em;
	height: 1.3em;
	background-color: white;
	border-radius: 50%;
	vertical-align: middle;
	border: 1px solid #ddd;
	appearance: none;
	-webkit-appearance: none;
	outline: none;
	cursor: pointer;
}

.checkbox-input:checked {}

.entered-task {
	font-family: Josefin-Sans-light;
}

.close-btn-container {
	display: flex;
	opacity: 0;
	flex-grow: 1;
	justify-content: flex-end;
}

.tasks-footer {
	display: flex
}